<div class="video">
	<video loop="loop" autoplay="autoplay" muted="muted">
		<source src="asssets/files/video.mp4" type="video/mp4">
		<source src="asssets/files/video.webm" type="video/webm">
	</video>
	<h1>Mercy Hands<h1>
	<h2>Together, fight diseases and save souls</h2>
	<div class="homebuttons">
		<button onclick="window.location='#/campaigns';" type="button" class="btn btn-danger">View campaigns</button>
		<button onclick="window.location='#/campaigns';" ng-if="is_login()" type="button" class="btn btn-info">Create new campaign</button>
		<button ng-if="!is_login()" data-toggle="modal" data-target="#signUp" type="button" class="btn btn-success">Join us & help others</button>
		<button ng-if="!is_login()" data-toggle="modal" data-target="#signIn" ype="button" class="btn btn-info">Sign in</button>
	</div>
</div>